* {
	box-sizing: border-box;
}

#main {
	position: fixed;
	left: 8px; top: 8px;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	background: #fff;
	z-index: 10;
	padding: 8px 8px;
}

#main > * {
	margin: 2px 0;
}

#title {
	font-variant: small-caps;
}

#files {}

#progress {
	height: 10px;
	background: #ccc;
}
#progress .bar {
	height: 100%;
	width: 50%;
	background: #7A00FF;

	color: #fff;
	font-size: 10px;
	line-height: 10px;
	font-family: monospace;
}

#controls {
	margin-top: 4px;
	margin-bottom: 20px;
}

#content {
	position: fixed;
	left: 0; top: 0; right: 0; bottom: 0;
	background: #eee;
}

#content #preview {
	width: 100%;
	max-height: 100%;
	object-fit: contain;

	position: absolute;
	bottom: 0;
}

.clear {
	clear: both;
}